language: php

php:
    - '5.4'

before_script:
    - cp app/config/parameters.yml.dist app/config/parameters.yml
    - composer self-update
    - composer install -n --prefer-dist
    - php app/console doctrine:database:create --env=test
    - php app/console doctrine:schema:create --env=test
    
script: phpunit -c app/

notifications:
  email:
   recipients:
    - irgusite@gmail.com
   on_success: always
   on_failure: always
