{% extends "::base.html.twig" %}

{%block title %}Inscriptions{%endblock%}

{% block body %}
<h2>Formulaire d'inscription</h2>
{%if valid %}
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Bravo!</strong> Ta candidature a été enregistrée
</div>
{%elseif demand %}
<div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Du calme!</strong> Ta candidature fait déjà l'objet d'une demande.
</div>
{% endif %}
<div class="well">
  <form method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <input type="submit" class="btn btn-primary" />
  </form>
</div>
{%endblock%}