{% extends "::base.html.twig" %}

{%block title %}Infos joueur{%endblock%}

{% block body %}
<h2>Mes infos <img src="https://minotar.net/avatar/{{username}}/32"></h2>
{%if valid %}
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Cool!</strong> Les données ont été enregistrées
</div>
{% endif %}
<div class="well">
<div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Infos!!</strong> Rerentrez votre mot de passe, le champ est encore obligatoire, le temps de coder ca un peu mieux.
</div>
  <form method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <input type="submit" class="btn btn-primary" />
  </form>
</div>
{%endblock%}