{% extends "::base.html.twig" %}

{%block title %}
Feed the Marshmallow
{%endblock%}

{% block topContainer %}

{% endblock %}

{% block body %}
<h2>Nous contacter</h2>
<p>Vous pouvez nous contacter des manières suivantes:
<ul>
<li><a href="{{path('ftm_irc')}}">Notre IRC</a></li>
<li><a href="{{path('ftm_mumble')}}">Notre mumble</a></li>
<li>Notre mail : staff (at) ftmarshmallow (point) com</li>
</p>
{%endblock%}