{% extends "::base.html.twig" %}

{%block title %}
FTM - Downloads
{%endblock%}

{% block topContainer %}
{% endblock %}

{% block body %}
<h2>Téléchargements</h2>
<table class="table">
<thead>
	<tr><th>Fichier</th><th>Lien</th></tr>
</thead>
<tbody>
	<tr><td>Save Vanilla 15.9.14</td><td><a href="http://ftmarshmallow.com/files/Play1.omgserv.com_15.9.14.zip">Lien</a></td></tr>
	{#<tr><td>Pack V1.1</td><td><a href="http://ftmarshmallow.com/files/pack.zip">Lien</a></td></tr>#}
	{#<tr><td>MAJ V1.1</td><td><a href="http://ftmarshmallow.com/files/config.zip">Lien</a></td></tr>#}
	{#<tr><td><s>Pack V3.2</s></td><td><a href="http://ftmarshmallow.com/files/packv3.2.zip">Lien</a></td></tr>#}
	{#<tr><td><s>MAJ V3.2.1</s></td><td><a href="http://ftmarshmallow.com/files/packv3.2.1.zip">Lien</a></td></tr>#}
	<tr><td>Pack V3.2.2</td><td><a href="http://ftmarshmallow.com/files/packv3.2.2.zip">Lien</a></td></tr>
</tbody>
</table>
{%endblock%}
