{% extends "::base.html.twig" %}

{%block title %}
FTM - irc
{%endblock%}


{% block body %}
	<div class="col-md-12">
		<h2>Chat IRC</h2>
		<p>adresse du serveur irc: <a href="{{irc}}">{{irc}}</a></p>
		<div class="embed-responsive embed-responsive-4by3">
			<iframe src="http://webchat.esper.net/?{% if pseudo!=null %}nick={{ pseudo }}&{%endif%}channels=ftmarshmallow&prompt=1" class="embed-responsive-item"></iframe>
		</div>
	</div>
{%endblock%}
