{% extends "::base.html.twig" %}

{%block title %}
FTM - TeamSpeak
{%endblock%}

{% block body %}
	<div class="col-md-12">
		<h2>Serveur TeamSpeak3</h2>
		<p>adresse du serveur TeamSpeak3: <a href="{{mumble}}">{{mumble}}</a></p>
	</div>
{%endblock%}
