{% extends "::base.html.twig" %}

{%block title %}
FTM - Serveurs
{%endblock%}

{% block topContainer %}
<div class="hero-unit">
	<h1>Salut Marhsmallow!</h1>
	<p>Bienvenue sur le site du serveur Feed the Marshmallow! Le serveur est accessible sur inscription.</p>
	<p><a href="{{ path('ftm_inscription') }}" class="btn btn-primary btn-large">S'inscrire &raquo;</a></p>
</div>
{% endblock %}

{% block body %}
<div class="container-fluid">
	<div class="row" id="personal">	
		<div class="col-md-12">
			<h2>Serveurs Minecraft</h2>
			<p>Les deux serveurs sont accessibles aux membres.<br/>Voici les adresses et les specifications:</p>
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr><th>Serveur</th><th>IP</th><th>Version</th><th>Modpack</th><th>Changelog</th></tr>
					</thead>
					<tbody>
						<tr><td>Event</td><td>event.ftmarshmallow.com</td><td>selon l'event</td><td>selon l'event</td><td>Selon les events</td></tr>
						<tr><td>Moddé</td><td>play.ftmarshmallow.com</td><td>1.7.10</td><td>Pack Privé</td><td>Voir les news</td></tr>
						<tr><td>Vanilla</td><td>play2.ftmarshmallow.com</td><td>1.8.7</td><td>Vanilla</td><td>Voir les news</td></tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{%endblock%}
