<h2>Salut {{name}},</h2>

<p>Tu as été accepté sur le serveur Feed The Marshmallow. Bienvenue à toi.</p>

<p>Le modpack est diponible avec le launcher privé de la section téléchargements. Il te faudra aussi java 8 64bits minimum (attention par defaut java s'install en 32 bits).</p>

<p>Pour accéder a la partie membre, il te suffit de te connecter en utilisant ton pseudo minecraft ({{name}}) et le mot de passe suivant: {{password}}</p>

<p>En cas de soucis, bug, ou une proposition d'amélioration, ou un mod a proposer: <a href="http://bugtracker.ftmarshmallow.com">http://bugtracker.ftmarshmallow.com</a></p>

<p>A bientôt sur le serveur ;)</p>

<h3>Le staff FTM.</h3>
