<h2>Salut {{name}},</h2>

<p>Bienvenue sur la Cité des Marshmallow.</p>

<p>Une cité créée pour vous, qui débutera le vendredi 19 février à 18h00. </p>

<p>Toutes les infos sont disponibles ici : 
<a href="https://youtu.be/mLhTYBwySK0">https://youtu.be/mLhTYBwySK0</a></p>

<p>Si vous souhaitez visiter la cité ,notament pour faire des vidéos de présentations, merci de nous contacter au plus vite.</p>

<p>Pour accéder a la partie membre, il te suffit de te connecter en utilisant ton pseudo minecraft ({{name}}) et le mot de passe suivant: {{password}}</p>

<p>Pour toute question, veuillez nous contacter au plus vite. Twitter : @IamAdena ou @FTMarshmallow . Ou par email  staff@ftmarshmallow.com .</p>

<p>A bientôt sur le serveur ;)</p>

<h3>Le staff FTM.</h3>

<!-- Piwik Image Tracker-->
<img src="http://analytics.ftmarshmallow.com/piwik.php?idsite=2&rec=1&action_name={{name}}" style="border:0" alt="" />
<!-- End Piwik -->
