{% extends "::base.html.twig" %}

{%block title %}
Ftm - News
{%endblock%}

{% block body %}
	<h2>News</h2>
	{% for New in News %}
		<h4>{{New.title}}</h4>
		<p>{{New.text|raw|nl2br}}</p>
	{% endfor %}
{%endblock%}
