{% extends "::base.html.twig" %}

{%block title %}
Ftm - Le serveur
{%endblock%}

{% block body %}
	<div class="container-fluid">
		<div class="row" id="personal">	
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" id="personal">
				<h2>News</h2>
					{% for New in News %}
						<h4>{{New.title}}</h4>
						<p>{{New.text|raw|nl2br}}</p>
					{% endfor %}
			</div>
			{% if is_full_view() %}
			<div class="col-lg-6 col-md-6 hidden-xs hidden-sm">
				<div class="embed-responsive embed-responsive-4by3">
					<iframe src="http://ftmarshmallow.com/mcmap/index.html" class="embed-responsive-item"></iframe>
				</div>
				<br>
				<div class="embed-responsive embed-responsive-16by9 ">
					<iframe src="http://webchat.esper.net/?channels=ftmarshmallow&prompt=1" class="embed-responsive-item"></iframe>
				</div>
			</div>

			<div class="col-lg-3 col-md-3 hidden-xs hidden-sm" id="personal">
				<h2>Twitter</h2>
				<a 
				class="twitter-timeline" 
				href="https://twitter.com/FTMarshmallow" 
				data-widget-id="548226244270362624"
				data-chrome="transparent"
				data-theme="dark"
				>Tweets de @FTMarshmallow</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

			</div>
			{% endif %}
		</div>
	</div>
{%endblock%}
