{% extends "::base.html.twig" %}

{%block title %}
Feed the Marshmallow
{%endblock%}

{% block topContainer %}
<div class="hero-unit .visible-desktop">
        <h1>Salut Marhsmallow!</h1>
        <p>Bienvenue sur le site du serveur Feed the Marshmallow! Le serveur est accessible sur inscription.</p>
        <p><a href="{{ path('ftm_inscription') }}" class="btn btn-primary btn-large">S'inscrire &raquo;</a></p>
      </div>
{% endblock %}

{% block body %}
<h2>News du serveur</h2>
<h4>Partie membre disponible et autre</h4>
<p>La partie membre est disponible, vous recevrez votre mot de passe dans les jours qui suivent. <br> Autre chose aussi, le serveur crash de temps en temps sans raison, si ca arrive, envoyez un mail a staff (at) ftmarshmallow.com pour qu'on le redemarre ;)</p>

{%endblock%}